<div class="container">
  <div class="header clearfix">
    <nav>
      {% if session['logged_in'] %}
        <ul class="nav nav-pills pull-right">
          <li class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('customer.home') }}">Search</a></li>
              <li><a href="{{ url_for('customer.add_customer') }}">Add Customer</a></li>
              <li><a href="{{ url_for('customer.customers') }}">All Customers</a></li>
            </ul>
          </li>
          <li role="presentation"><a href="{{ url_for('public.logout') }}">Log Out</a></li>
        </ul>
      {% endif %}
    </nav>
    <h3 class="text-muted"><a href="{{ url_for('customer.home') }}" style="text-decoration: none">Cheezy Pizza & Pasta</a></h3>
</div>