<div class="container">
  <div class="header clearfix">
    <nav>
      {% if session['logged_in'] %}
        <ul class="nav nav-pills pull-right">
          <!-- <li role="presentation"><a href="{{ url_for('public.logout') }}">Actions</a></li> -->
          <li role="presentation"><a href="{{ url_for('public.logout') }}">Log Out</a></li>
        </ul>
      {% endif %}
      <!-- <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul> -->
    </nav>
    <h3 class="text-muted">Project name</h3>
</div>